# Include metadata and docs
include LICENSE
include README.md
include HISTORY.md

# Include documentation and necessary scripts for building docs
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.md *.html *.js *.css *.svg

# Include tests
recursive-include tests *.py

# Include dataset examples for use with documentation or tests
recursive-include datasets *.csv

# General Python and IDE specific files to exclude
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo

# Exclude all .git and .idea directories
recursive-exclude .git *
recursive-exclude .idea *
recursive-exclude other *
