# Production dependencies
numpy>=1.26.2
pandas>=2.1.4
scikit-learn>=1.0.2
scikit-optimize>=0.10.1
scipy>=1.12.0
matplotlib>=3.8.2
seaborn>=0.13.0
statsmodels>=0.13.2
category-encoders>=2.6.3
Levenshtein>=0.25.0

# Development dependencies
pytest>=8.2.0
flake8>=7.0.0
tox>=4.12.1
twine>=5.0.0
cookiecutter>=2.5.0
sphinx>=7.3.7
sphinx-basic-ng>=1.0.0b2
furo>=2024.5.6
sphinx-favicon>=1.0.1
sphinx-prompt>=1.8.0
sphinx-copybutton>=0.5.2
sphinxemoji>=0.3.1
sphinx-opengraph>=0.1.2
